div i.ham {
  position: fixed;
  top: 5%;
  right: 10%;
  font-size: 4rem;
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.473);
  cursor: pointer;
  z-index: 10;
}

nav {
  position: fixed;

  top: 25%;
  width: 80vw;
  height: 80vw;

  text-transform: translate(-50%, 50%);
  font-size: 2rem;
  background-color: rgba(255, 235, 249, 0.877);
  border-radius: 50%;
  box-shadow: 0 0 15px 1px rgba(71, 71, 71, 0.349);
  text-align: center;
  z-index: 10;
}

nav.active {
  display: block;
}

nav div.links {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

nav div.links a {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(49, 49, 49, 0.836);
  letter-spacing: 2px;
  padding: 1vh;
  margin: 0 20px;
  transition: .2s;
}

nav div.links a:hover {
  letter-spacing: 0;
}

nav div.links a.reservation {
  text-decoration: underline;
}



@media (min-width: 450px) {
  nav {
    width: 65vw;
    height: 65vw;
    font-size: 2.5rem;
  }
}

@media (min-width: 600px) {
  nav {
    width: 60vw;
    height: 60vw;
    font-size: 2.8rem;

  }
}

@media (min-width: 690px) {
  nav {
    width: 50vw;
    height: 50vw;

  }
}


@media (min-width: 750px) {
  nav {
    width: 45vw;
    height: 45vw;
    font-size: 2.6rem;

  }
}

@media (min-width: 850px) {
  nav {
    width: 35vw;
    height: 35vw;
    font-size: 2.5rem;

  }
}



@media (min-width: 1000px) {
  div i.ham {
    display: none;
  }

  nav {
    position: relative;
    border: none;
    border-radius: 0;
    width: auto;
    height: auto;
    box-shadow: none;
    max-width: 80%;
    margin: 3vh auto;
    align-items: left;
    background-color: white;
  }

  nav div.links {
    display: flex;
    flex-direction: row;
  }

  nav div.links a {
    color: rgb(80, 80, 80);
    letter-spacing: 0;
    transition: 0s;
    font-size: 2rem;
  }

  nav div.links a:hover {
    color: rgb(160, 0, 152);
    letter-spacing: 0;
  }

  nav div.links a.reservation {
    font-size: 2rem;
    border: 2px solid rgb(121, 18, 49);
    padding: 1vh 2vw;
    letter-spacing: 1px;
    margin-left: 5vw;
    transition: 0.3s;
    color: rgb(121, 18, 49);
    text-decoration: none;
  }

  nav div.links a.reservation:hover {
    background-color: rgb(121, 18, 49);
    color: white;
    border: 2px solid rgb(121, 18, 49);
    text-decoration: none;
  }
}

@media(min-width: 1280px) {
  nav a.reservation {
    font-size: 3rem;
  }

  nav a {
    font-size: 2rem;
  }
}

@media(min-width: 1366px) {
  nav a.reservation {
    font-size: 3rem;
  }

  nav a {
    font-size: 2.7rem;
  }

}