.reservationPopUp {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  text-align: center;
  overflow: auto; 
  background-color: rgb(0,0,0, 0.4); 
  z-index: 200;
}

/* Modal Content */
.reservationPopUp-content {
  background-color: #fefefe;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #888;
  width: 80%;
  font-size: 1.2rem;
  border-radius: 2%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
  animation-name: slideIn 0.4s;
}

/* The Close Button */
.closeRes {
  position: relative;
  color: #aaaaaa;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition:  .2s;
}

.closeRes:hover,
.closeRes:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

span#information p:nth-child(2){
font-size: 1rem;
color:red;
}

span p#comunicat{
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  
}

.header-form{
  position: relative;
  width:100%;
  color:black;
  text-transform: uppercase;
  font-size: 2.5rem;
  padding:2vh 0;
  font-family: 'Marcellus', serif;
 
}

form p{
  margin:2vh 0;
  font-family: 'Roboto', sans-serif;
}

form button{
  font-size: 2rem;
  padding: 2vw;
  border: 3px solid #9b0048;;
  background-color: white;
  transition: .3s;
  font-family: 'Marcellus', serif;
}

form button:hover {
  background-color: #9b0048;
  color:white;
}
form input, form select {
  padding: 5px;
}

@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 50%; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 50%; opacity: 1}
}

@media(min-width: 840px){
  .reservationPopUp-content {
    width: 60%;
    padding: 20px 10%;
  }
  form button{
    padding: 0.5vh 2vw;
  }
}
 @media(min-width: 1280px){
.reservationPopUp-content {
  width: 60%;
  padding: 20px 15%;
  font-size: 2rem;

}
}
@media(min-width: 1400px){
  .reservationPopUp-content {
    width: 40%;
    padding: 20px 5%;
  }
  } 