.reservationPopUp {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: auto;
  background-color: rgb(0, 0, 0, 0.4);
  z-index: 200;
}

/* Modal Content */
.reservationPopUp-content {
  background-color: #fefefe;
  margin: 0 auto 5vh;
  padding: 10px;
  border: 1px solid #888;
  width: 90%;
  font-size: 1.2rem;
  border-radius: 1%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
  animation-name: slideIn 0.4s;
}

/* The Close Button */
.closeRes {
  position: relative;
  color: #aaaaaa;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: .2s;
  padding-bottom: 5vh;
}

.closeRes:hover,
.closeRes:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

span#information p:nth-child(2) {
  font-size: 1rem;
  color: red;
  max-width: 70%;
  margin: 3vh auto;

}

span p#comunicat {
  display: none;
  font-size: 1.3rem;
  line-height: 200%;
  border: 2px solid #dedede56;
  border-radius: 5px;
  padding: 3vw;
}

.header-form {
  display: block;
  position: relative;
  width: 100%;
  color: black;
  text-transform: uppercase;
  font-size: 2.5rem;
  padding: 2vh 0;
  font-family: 'Marcellus', serif;

}

form p {
  display: flex;
  margin: 2vh 0;
  font-family: 'Roboto', sans-serif;
}

form button {
  font-size: 2rem;
  padding: 2vw 5vw;
  border: 3px solid #9b0048;
  ;
  background-color: white;
  transition: .3s;
  font-family: 'Marcellus', serif;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #9b0048;
  color: white;
}

form label {
  width: 40%;
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
  margin-right: 5vw;
}

form input,
form select {
  width: 40vw;
  padding: 5px;
  background-color: #e2e2e256;
  ;
  border: 1px solid #000000;
  border-radius: 5px;
}


form input:focus,
form select:focus {
  border: 2px solid #9b0048;
  /* box-shadow: 0 0 10px 2px rgba(204,204,204,0.9); */
  background-color: white;
}

@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0
  }

  to {
    bottom: 50%;
    opacity: 1
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0
  }

  to {
    bottom: 50%;
    opacity: 1
  }
}

@media(min-width: 560px) {
  span p#comunicat {
    margin: 2vh auto;
  padding: 2vw;
   width:75%;
   font-size: 1.5rem;
  }
}
@media(min-width: 840px) {
  .reservationPopUp-content {
    width: 60%;
    padding: 20px 10%;
  }

  form button {
    margin-top: 2vh;
    padding: 0.5vh 2vw;
  }

  form label {
    font-size: 2rem;
  }

  form input,
  form select {
    width: 20vw;
  }

  span p#comunicat {
    width:100%;
    font-size: 1.6rem;
    padding: 2vw;
  }

}

@media(min-width: 1280px) {
  .reservationPopUp-content {
    width: 60%;
    padding: 20px 15%;
    font-size: 2rem;
  }
 
form button {
  font-size: 2rem;
  padding: 1vh 2vw;
 
}

  form input,
  form select {
    width: 15vw;
  }

  form label {
    width:50%;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    margin-right:5vw;
  }
  
}

@media(min-width: 1400px) {
  .reservationPopUp-content {
    width: 40%;
    padding: 20px 5%;
  }
  form label {
    width:30%;
  }
}